body{
	background-color: white;
}
#carre{
	height: 100px;
	width: 100px;
	background: black;
	margin-left: 50px;
}
#cercle{
	height: 100px;
	width: 100px;
	background: black;
	border-radius: 50px;
    margin-left: 50px;
}
#anneau{
	height: 100px;
	width: 100px;
	background: white;
	border-radius: 60px;
	border-top: 5px solid green;
	border-bottom: 5px solid green;
	border-left: 5px solid green;
	border-right:5px solid green;
	margin-left: 50px;
}
#oeuf{
	width: 150px;
	height: 200px;
	border-radius: 75px 75px 75px 75px / 120px 120px 80px 80px;
	background: black;
	margin-left: 50px;
}